[submodule "open.mp-sdk"]
	path = lib/open.mp-sdk
	url = https://github.com/openmultiplayer/open.mp-sdk.git
[submodule "scikit-build"]
	path = lib/scikit-build
	url = https://github.com/scikit-build/scikit-build/
